.footer {
  background: var(--dark);
  color: var(--light);
}

.footer-top {
  padding: 60px 0;
}

.footer-col {
  width: 30%;
  float: left;
}
.footer-col:nth-child(2) {
  width: 40%;
}

.footer-news label {
  font-size: 14px;
  text-transform: lowercase;
  float: left;
  padding: 6px 15px 0 0;
}

.footer-news input {
  border: 0;
  background-color: var(--primary);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 10px;
  height: 48px;
  float: left;
  width: 280px;
  outline: none;
}
.footer-news input:focus {
  background-color: var(--light);
}

.footer-news button {
  border: 0;
  background: var(--light);
  height: 48px;
  font-size: 25px;
  padding: 0 18px;
  float: left;
  outline: none;
  cursor: pointer;
}
.footer-news button:hover {
  background-color: var(--primary);
}

.footer-social {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: right;
}

.footer-social li {
  display: inline-block;
}

.footer-social li a {
  display: block;
  color: var(--light);
  font-size: 25px;
  padding: 10px 5px;
}
.footer-social li a:hover {
  color: var(--primary);
}

.footer-copyright {
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.3);
}